html {
  overflow: scroll;
}

body {

  margin:0;
}

#navbar {
    z-index: 2;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

#navList {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-family: sans-serif;
}

#Download {
  background-color: #333;
  height: 300px;
  color: white;
  font-family: sans-serif;
  font-size: 50px;
  padding-top: 0.1%;
  text-align: left;
  padding-left: 5%;
  margin: 0;
}

a {
  color:inherit;
  text-decoration: none;
}
.btn {
  background-color: RoyalBlue;
  margin-left: 38%;
  text-align: center;
  border: none;
  border-radius: 18px;
  color: white;
  padding: 20px 55px;
  cursor: pointer;
  font-size: 20px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}
/* Darker background on mouse-over */
.btn:hover {
  background-color: DodgerBlue;
}

#Tutorial {
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 0.1%;
  padding-bottom: 3%;
  font-family: Sans-Serif;
  font-size: 20px;
  background-color: white;
  color: black;
  line-height: 1.5;
}

#tutItem {
  margin: 0 0 5px 0;
  position: relative;
}

#tutImage {
  width: 90%;
  height:400px;
  position: relative;
}
#title {
  color: #333;
  background-image:url(http://www.aljanh.net/data/archive/img/1830926712.png);
  font-size: 50px;
  height: 310px;
  margin: 0px;
  padding-top: 3%;
  text-align: center;
  width: 100%;
  font-family: courier;
}

#statement {
  color: 	#BEE5F6;
  background-color: #2F9AC9;
  font-size: 30px;
  height: 60px;
  width: 100%;
  padding-top: 2%;
  padding-bottom: 0.1%;
  text-align: center;
  font-style: italic;
}
#mission {
  font-family: sans-serif;
  color: white;
  background-color: #2F9AC9;
  font-size: 20px;
  height: 400px;
  padding-top: 2%;
  padding-bottom: 2%;
  text-align: left;
  padding-right: 5%;
  padding-left: 5%;
  line-height: 1.5;
}

#Presets {
  font-family: sans-serif;
  color: white;
  background-color: #2F9AC9;
  font-size: 20px;
  height: 200px;
  width: 100;
  padding-top: 1%;
  padding-bottom: 2%;
  text-align: left;
  padding-right: 5%;
  padding-left: 5%;
  line-height: 1.5;
  margin-left: 0%;
}

#flex-container {
    display: flex;
    justify-content: space-around;
    height: 1000px;
    background-color: #2F9AC9;
    padding-left: 5%;
    padding-right: 5%;
    flex-wrap: wrap;
  flex-direction: column;

}


.flex-item {
    height: 410px;
    width: 550px;
    border: 5px white solid;
    background-color: #BEE5F6;
    color: #333;
    font-size: 18px;
    text-align: left;
    padding-left: 2%;
    padding-right: 2%;
    line-height: 1.2;
    font-family: sans-serif;
}

.resourceList:hover {
  background-color:#BEE5F6;
  text-decoration: underline;
}

#trademark {
  background-color:#333;
  height: 30px;
  font-family: sans-serif;
  font-size: 18px;
  color: white;
  text-align: center;
  padding-top: 0.1%;
  padding-bottom: 1%;
}




